p{
	font-size:28px;
	color:black;
	width:500px;
	text-align:center;
	margin:3px auto;
}
h1{
	font-style:italic;
	font-size:78px;
	text-align:center;
	color:#000000;
	margin:3px;
	text-shadow:1px 1px 1px white;
}
li{
	font-size: 16px;
	line-height: 1;
	letter-spacing: 1px;
	margin:3px auto;
}
img{
	display:block;
	margin: 0 auto;
}
html{
	background-color:#202020;
}
body{
	width:600px;
	height:540px;
	margin:0 auto;
	background-color:#383838;
	padding:0 2px 2px 2px;
	border:1px solid black;
}
