a{
	text-decoration:none;
	color:#000000;
}
p{
	font-size:28px;
	color:black;
	width:500px;
	text-align:center;
	margin:3px auto;
}
h1{
	font-style:italic;
	font-size:78px;
	text-align:center;
	color:#000000;
	margin:3px;
	text-shadow:1px 1px 1px white;
}
h2{
	font-style:italic;
	font-size:78px;
	text-align:center;
	color:#000000;
	margin:3px;
	text-shadow:1px 1px 1px white;
}
li{
	font-size: 16px;
	line-height: 1;
	letter-spacing: 1px;
	margin:3px auto;
}
img{
	display:block;
	margin: 0 auto;
}
html{
	background-color:#202020;
}
body{
	width:600px;
	margin:0 auto;
	background-color:#383838;
	padding:0 2px 2px 2px;
	border:1px solid black;
}
iframe{
	width:600px;
	height:500px;
}
table,th,td{
	border:1px solid black;
}
ol,li{
	position: relative;
	color: black;
}
td{
	background-color:#202020;
	color:#000000;
}
blockquote{
	font-weight: bold;
	font-family:'ComicSans';
	font-size:12px;
	color:#000000;
}
iframe{
	border: 2px solid black;
}
#logo{
	border:1px solid black;
	width:500px;
	left: 50px;
	position:relative;
	top:3px;
}
#figura{
	background-color:#383838;
	border:1px solid black;
}
#tabelka{
	position:relative;
	left:200px;
}
#link{
	width:110px;
	height:50px;
	background-color:#202020;
	text-align:center;
	text-decoration:none;
	border:1px solid black;
	vertical-align: bottom;
	line-height: 50px;
	font-size:16px;
	border-radius : 2px;
}
a:hover{
	color:#383838;
}
#link:hover{
	background-color:#383838;
}
.okrag{
	border-radius:50%;
}
